flows1.json
[{"id":"d4dc58e3.08dd48","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"493ceedf.6d3a6","type":"debug","z":"d4dc58e3.08dd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":340,"wires":[]},{"id":"585c52df.70113c","type":"rpi-gpio out","z":"d4dc58e3.08dd48","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":630,"y":560,"wires":[]},{"id":"9489e52c.c256b8","type":"rpi-gpio in","z":"d4dc58e3.08dd48","name":"button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":440,"wires":[["a72668ea.e65c68","493ceedf.6d3a6"]]},{"id":"a72668ea.e65c68","type":"switch","z":"d4dc58e3.08dd48","name":"input","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":560,"wires":[["e6d7303f.3f086"],["afc8caad.9fcb88"]]},{"id":"e6d7303f.3f086","type":"change","z":"d4dc58e3.08dd48","name":"change 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":500,"wires":[["585c52df.70113c"]]},{"id":"afc8caad.9fcb88","type":"change","z":"d4dc58e3.08dd48","name":"change 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":620,"wires":[["585c52df.70113c"]]}]